{% extends 'layout.html' %}
{% block head %}
<title>SVT Store</title>
{% endblock %}
{% block body %}
  <div class="hero_area">
    <div class="main-content" href="dashboard.html"></div>
      <div class="header_top">
        <div class="container-fluid">
        </div>
      </div>
      <div class="header_bottom">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
              <div class="container-fluid">
                <a class="navbar-brand" href="#">
                  <img src="https://pbs.twimg.com/media/GCpBJJTbwAAhgiR?format=png&name=360x360" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
                  <img src="https://pbs.twimg.com/media/GCpE7ecbAAABx4M?format=png&name=4096x4096" alt="user" width="40" height="40" class="d-inline-block align-text-top">
                </a>
            
                  <form class="d-flex">
                    <a href="/logout" class="btn btn-primary" style="margin-left: 8px;">Logout</a>
                  </form>
{% endblock %}