{% extends 'layoutv2.html' %}
{% block head %}
{% endblock %}
{% block body %}
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #363062;
        }

        .login-container {
            margin-top: 50px;
            margin-left: 320px;
            max-width: 500px;
            width: 100%;
            background: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 10px;
        }
    </style>
    <div class="login-container">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Login</h3>
                <p class="text-center">Masukkan Username dan Password</p>
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input name="inpUser" type="Username" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input name="inpPass" type="password" class="form-control">
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary mt-4">Login</button>
                    </div>
                    </br>
                    <p class="bottom">Tidak punya akun?<a class="bottom" href="{{url_for('register')}}">Daftar disini</a></p>
                </form>
                <script>
                    var loginAlertMessage = "{{ login_alert }}";
                    if (loginAlertMessage) {
                        alert(loginAlertMessage);
                    }
                </script>
            </div>
        </div>
    </div>
{% endblock %}
