{% extends 'layout.html' %}
{% block head %}
<title>Nama Perusahaan</title>
{% endblock %}
{% block body %}
  <style>
    .header_top{
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .container{
      padding-top: 0px;
      padding-bottom: 10px;
    }
    .info{
      padding-left: 0px;
    }
    .nav li {
      position: center;
      margin-right: 15px; /* Sesuaikan angka ini sesuai kebutuhan Anda */
      display: inline; /* Menjadikan elemen dalam satu baris */
    }
    .beranda{
      text-align: center;
    }
    .nav p {
      padding-right: 15px;
      margin: 0; /* Menghilangkan margin dari elemen <p> */
      display: inline; /* Menjadikan elemen dalam satu baris */
    }
  </style>
  <header>
    <div class="main-content" href="produk.html"></div>
    <div class="header_top">
      <h2 class="text-center">Nama Perusahaan</h2> 
  </header>
  <section class="info">
    <div class="container">
      <div class="row">
        <hr>
        <ul class="nav">
          <li class="beranda">
            <a style="color: black;" href="home"><u>Beranda</u></a>
          </li>
          <li class="produk">
            <a style="color: black;" href="album"><p>|</p><u>Produk</u></a>
          </li>
          <li class="Kontak">
            <a style="color: black;" href="merch"><p>|</p><u>Kontak</u></a>
          </li>
        </ul>
      </div>
    </div>
    <hr>
</head>
<body>

  <div class="album1">
    <div class="caption">
      <b>11th Mini Album 'SEVENTEENTH HEAVEN' > JAPAN BEST ALBUM「ALWAYS YOURS」> 10th Mini Album 'FML'</b>
    </div>

    <div class="heaven">
      <div class="gallery">
        <a target="_blank" href="">
          <img src="https://cdn-contents.weverseshop.io/public/shop/f8ac8a0eacae5e3c3f0b6a9bf33b4cf3.png?q=95&w=720" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">
          <p>11th Mini Album 'SEVENTEENTH HEAVEN' <br>Carat Ver. (Random)</p>
          <b>Rp.160.000</b>
        </div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="">
          <img src="https://cdn-contents.weverseshop.io/public/shop/98f1984478a759070fc27ba389813395.png?q=95&w=720" alt="Forest" width="600" height="400">
        </a>
        <div class="desc">
          <p>11th Mini Album 'SEVENTEENTH HEAVEN' (Set)</p>
          <br>
          <b>Rp.780.000</b>
        </div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="">
          <img src="https://cdn-contents.weverseshop.io/public/shop/16a5a5f0b2361e59bf0b57a19b2adf59.png?q=95&w=720" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">
          <p>11th Mini Album 'SEVENTEENTH HEAVEN' (Random)</p>
          <b>Rp.250.000</b>
        </div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="">
          <img src="https://cdn-contents.weverseshop.io/public/shop/79906fcd4b318f6df0d9a9963f7877f4.png?q=95&w=720" alt="Mountains" width="600" height="400">
        </a>
        <div class="desc">
          <p>11th Mini Album 'SEVENTEENTH HEAVEN' <br>KiT ver</p>
          <b>Rp.280.000</b>
        </div>
      </div>

      <div class="gallery">
        <a target="_blank" href="">
          <img src="https://cdn-contents.weverseshop.io/public/shop/ab17aa278576f0e6a06dfcba62c24de7.png?q=95&w=720" alt="Mountains" width="600" height="400">
        </a>
        <div class="desc">
          <p>11th Mini Album 'SEVENTEENTH HEAVEN' Weverse Albums ver.</p>
          <b>Rp.150.000</b>
        </div>
      </div>
    </div>
  </div>
  
  <div class="ima">
    <div class="caption2">
      <h6>JAPAN BEST ALBUM「ALWAYS YOURS」</h6>
    </div>
      <!-- <div class="gallery">
        <a target="_blank" href="">
          <img src="https://cdn-contents.weverseshop.io/public/shop/0aa0b6f6a156ecd220741e4dd33ebccc.png?q=95&w=720" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">
          <p>JAPAN BEST ALBUM <br>「ALWAYS YOURS」 Type C</p>
          <br>
          <b>Rp.570.000</b>
        </div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="">
          <img src="https://cdn-contents.weverseshop.io/public/shop/b28c5ca74f54e6dcffe0b9be246d8bdf.png?q=95&w=720" alt="Forest" width="600" height="400">
        </a>
        <div class="desc">
          <p>JAPAN BEST ALBUM <br>「ALWAYS YOURS」 Type D<p>
          <b>Rp.570.000</b>
        </div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="">
          <img src="https://cdn-contents.weverseshop.io/public/shop/fbe9da06707b0928148758df0593eefe.png?q=95&w=720" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">
          <p>JAPAN BEST ALBUM <br>「ALWAYS YOURS」 5 Set</p>
          <br>
          <b>Rp.2.800.000</b>
        </div>
      </div>
    
    <div class="gallery">
      <a target="_blank" href="">
        <img src="https://cdn-contents.weverseshop.io/public/shop/8b0cd73987f805394b5df70c3505044b.png?q=95&w=720" alt="Mountains" width="600" height="400">
      </a>
      <div class="desc">
        <p>JAPAN BEST ALBUM <br>「ALWAYS YOURS」 Standard</p>
        <br>
        <b>Rp.480.000</b>
      </div>
    </div>

    <div class="gallery">
      <a target="_blank" href="">
        <img src="https://cdn-contents.weverseshop.io/public/shop/902f6c2a5be450ba5e541eb5069babf8.png?q=95&w=720" alt="Mountains" width="600" height="400">
      </a>
      <div class="desc">
        <p>JAPAN BEST ALBUM <br>「ALWAYS YOURS」 Flash Price</p>
        <br>
        <b>Rp.410.000</b>
      </div>
    </div>

    <div class="gallery">
      <a target="_blank" href="">
        <img src="https://cdn-contents.weverseshop.io/public/shop/6b28d053689cdde6248fa7e96c2e7983.png?q=95&w=720" alt="Mountains" width="600" height="400">
      </a>
      <div class="desc">
        <p>JAPAN BEST ALBUM <br>「ALWAYS YOURS」 Type A</p>
        <br>
        <b>Rp.570.000</b>
      </div>
    </div>

    <div class="gallery">
      <a target="_blank" href="">
        <img src="https://cdn-contents.weverseshop.io/public/shop/313602f673f60f5486a0423b1fb67fca.png?q=95&w=720" alt="Mountains" width="600" height="400">
      </a>
      <div class="desc">
        <p>JAPAN BEST ALBUM <br>「ALWAYS YOURS」 Type B</p>
        <br>
        <b>Rp.570.000</b>
      </div>
    </div>
  </div>

  <div class="album3">
    <div class="caption3">
      <h6>10th Mini Album 'FML'</h6>
    </div>

    <div class="fml">
      <div class="gallery">
        <a target="_blank" href="">
          <img src="https://cdn-contents.weverseshop.io/public/shop/63140345ea7e2fd90352bc33b3521962.png?q=95&w=720" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">
          <p>10th Mini Album 'FML'<br>(Set)</p>
          <br>
          <b>Rp.860.000</b>
        </div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="">
          <img src="https://cdn-contents.weverseshop.io/public/shop/76f69cdf8f049719b8a122cdb86ab3a9.png?q=95&w=720" alt="Forest" width="600" height="400">
        </a>
        <div class="desc">
          <p>10th Mini Album 'FML'<br>(Random)<p>
          <b>Rp.300.000</b>
        </div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="">
          <img src="https://cdn-contents.weverseshop.io/public/shop/e40570bffaf848457bf1dd115c116983.png?q=95&w=720" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">
          <p>10th Mini Album 'FML'<br>(CARAT Ver.)</p>
          <br>
          <b>Rp.185.000</b>
        </div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="">
          <img src="https://cdn-contents.weverseshop.io/public/shop/49814939945b87c93d95fe27b0662ca1.png?q=95&w=720" alt="Mountains" width="600" height="400">
        </a>
        <div class="desc">
          <p>10th Mini Album 'FML'<br>(Weverse Albums ver.)</p>
          <br>
          <b>Rp.175.000</b>
        </div>
      </div>

      <div class="gallery">
        <a target="_blank" href="">
          <img src="https://cdn-contents.weverseshop.io/public/shop/094bd3b712012b5735bd7df781c47866.png?q=95&w=320" alt="Mountains" width="600" height="400">
        </a>
        <div class="desc">
          <p>10th Mini Album 'FML'<br>(Deluxe Ver.)</p>
          <br>
          <b>Rp.550.000</b>
        </div>
      </div>

      <div class="gallery">
        <a target="_blank" href="">
          <img src="https://cdn-contents.weverseshop.io/public/shop/9d419c5442aa459ab2e59b7ef49c2241.png?q=95&w=720" alt="Mountains" width="600" height="400">
        </a>
        <div class="desc">
          <p>10th Mini Album 'FML'<br>(KiT Ver.)</p>
          <br>
          <b>Rp.315.000</b>
        </div>
      </div>
    </div>
  </div> -->
</body>

{% endblock %}
